@using Common.Utilities
@using Data.Contracts
@using Domain
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Presentation.Helpers
@using Service.Model.Contracts
@using JsonSerializer = System.Text.Json.JsonSerializer
@model List<Invoice>
@inject IUploadedFileService UploadFileService

@{
    ViewBag.Title = "قاکتورهای تایید نشده";
    Layout = "_Layout";
    var files = await UploadFileService.GetFiles(nameof(UnverifiedInvoice), [], null, default);
    var url = UploadFileService.GetUrl();
    var projects = ViewBag.Projects as List<Project>;
    var projectId = ViewBag.ProjectId as int?;
}

<div class="card">
    <div class="card-body">
        <h3>فاکتور های تایید نشده</h3>
        @if (projects is not null && projects.Any())
        {
            <div class="row gap-2">
                @foreach (var item in projects)
                {
                    <a asp-action="Index" asp-route-projectId="@item.Id" class="card"
                       style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@item.User.GetFullName()</h6>
                        </div>
                    </a>
                }
            </div>
        }
        else
        {
            <div class="d-flex justify-content-between">
                @if (CheckPermission.Check(User, "UnverifiedInvoice.Create"))
                {
                    <button data-bs-toggle="modal" data-bs-target="#addInvoiceModal" data-project-id="@projectId" data-type="@InvoiceType.Unverified" type="button" class="btn btn-primary">
                        افزودن
                    </button>
                }
            </div>
            <table class="table table-hover mt-2">
                <thead>
                <tr>
                    <td>ردیف</td>
                    <td>پروژه</td>
                    <td>گروه هزینه</td>
                    <td>بستانکار</td>
                    <td>تاریخ</td>
                    <td>توضیحات</td>
                    <td>مبلغ</td>
                    <td>وضعیت</td>
                    <td>عملیات</td>
                </tr>
                </thead>
                <tbody>
                @{
                    var index = 0;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(++index)</td>
                        <td>@item.Project.Title</td>
                        <td>@item.CostGroup.Title</td>
                        <td>@item.Creditor.FirstName @item.Creditor.LastName</td>
                        <td>@item.Date.ToShamsi()</td>
                        <td>@item.Description</td>
                        <td>@item.Amount.ToNumeric()</td>
                        <td>@item.Status.ToDisplay()</td>
                        <td>

                            <div class="dropdown d-inline-block">
                                <a class="nav-link" style="padding: .5rem 1rem"
                                   data-bs-toggle="dropdown"
                                   href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v font-20 text-muted"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dLabel6" x-placement="bottom-start"
                                     style="text-align: right;position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
                                    @if (CheckPermission.Check(User, "UnverifiedInvoice.Update"))
                                    {
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#updateModal"
                                           data-id="@item.Id" data-cost-group-id="@item.CostGroupId"
                                           data-creditor-id="@item.CreditorId" data-project-id="@item.ProjectId"
                                           data-amount="@item.Amount" data-date="@item.Date.ToShamsi()"
                                           data-description="@item.Description"
                                           class="dropdown-item">
                                            <i
                                                class="fa fa-pencil"></i>
                                            ویرایش
                                        </a>
                                    }
                                    @if (CheckPermission.Check(User, "UnverifiedInvoice.AddImage"))
                                    {
                                        <a href="#" data-bs-toggle="modal" data-id="@item.Id" data-bs-target="#addImageModal"
                                           class="dropdown-item" data-bs-invoice-id="@item.Id">
                                            <i
                                                class="fa fa-image"></i>
                                            آپلود تصویر
                                        </a>
                                    }

                                    @if (CheckPermission.Check(User, "UnverifiedInvoice.ChangeStatusToApproved") && item.Status != InvoiceStatus.Approved)
                                    {
                                        <a href="#" class="dropdown-item changeStatus" data-id="@item.Id" data-status="@((int)InvoiceStatus.Approved)">
                                            <i class="fa fa-check"></i>
                                            تایید
                                        </a>
                                    }

                                    @if (CheckPermission.Check(User, "UnverifiedInvoice.ChangeStatusToRejected") && item.Status != InvoiceStatus.Rejected)
                                    {
                                        <a href="#" class="dropdown-item changeStatus" data-id="@item.Id" data-status="@((int)InvoiceStatus.Rejected)">
                                            <i class="fa fa-close"></i>
                                            رد
                                        </a>
                                    }
                                    @if (CheckPermission.Check(User, "UnverifiedInvoice.AddToUnsettledInvoice") && item is { Status: InvoiceStatus.Approved, InvoiceDetails.Count: 0 })
                                    {
                                        <a href="#" class="dropdown-item changeType" data-id="@item.Id"  data-type="@InvoiceType.Unsettled">
                                            <i class="fa fa-send"></i>
                                            ارسال به فاکتور های تسویه نشده
                                        </a>
                                    }

                                </div>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }


    </div>
</div>
<partial name="Components/_AddInvoiceModal"/>
<partial name="Components/_AddImageModal"/>


@section Scripts{
    <script>
        let files = @Html.Raw(JsonSerializer.Serialize(files))
        let url = "@url";
    </script>
    <script src="~/js/pages/UnverifiedInvoice.js"></script>
}