@using Common.Utilities
@using Domain
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@using Presentation.Helpers
@using Service.Model.Contracts
@model List<Presentation.DTO.EmployerPaymentResDto>
@inject IUploadedFileService UploadedFileService
@{
    ViewBag.Title = "دستمزد پیمانکار";
    Layout = "_Layout";
    var projects = ViewBag.Projects as List<Project>;
    var project = ViewBag.Project as Project;
    var percentAmount = 0m;
    var projectId = 0;
    var files = await UploadedFileService.GetFiles(nameof(EmployerPayment), [], null, default);
    var url = UploadedFileService.GetUrl();
    if (project is not null)
    {
        projectId = project.Id;
        var totalAmount = project.Invoices.Where(i => i.Type is InvoiceType.Settled or InvoiceType.Unsettled).SelectMany(i => i.InvoiceDetails).Sum(i => i.Price);
        percentAmount = totalAmount * (project.Percent / 100);
    }
}


<div class="card">
    <div class="card-body">

        @if (projects is not null && projects.Any())
        {
            <div class="row gap-2">
                @foreach (var item in projects)
                {
                    <a asp-action="Index" asp-route-projectId="@item.Id" class="card"
                       style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@(item.User.FirstName + " " + item.User.LastName)</h6>
                            @* <p class="card-text">@project.</p> *@
                        </div>
                    </a>
                }
            </div>
        }
        else
        {
            <h3>@project.Title</h3>
            <h4>@project.Percent %</h4>
            <h4>@percentAmount.ToNumeric()</h4>
            <div class="d-flex mt-3 justify-content-between">
                @if (CheckPermission.Check(User, "EmployerPayment.Create"))
                {
                    <button data-bs-toggle="modal" data-bs-target="#addModal" type="button" class="btn btn-primary">
                        افزودن
                    </button>
                }
            </div>
            <table class="table table-hover mt-2">
                <tr>
                    <th>ردیف</th>
                    <th>تاریخ</th>
                    <th>توضیحات</th>
                    <th>مبلغ</th>
                    <th>عملیات</th>
                </tr>
                @{
                    var index = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(index++)</td>
                        <td>@item.Date</td>
                        <td>@item.Description</td>
                        <td>@item.AmountNumeric</td>
                        <td>

                            <div class="dropdown d-inline-block">
                                <a class="nav-link" style="padding: .5rem 1rem"
                                   data-bs-toggle="dropdown"
                                   href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v font-20 text-muted"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dLabel6" x-placement="bottom-start"
                                     style="text-align: right;position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#imagesModal"
                                       class="dropdown-item" data-id="@item.Id">
                                        <i
                                            class="fa fa-list"></i>
                                        جزئیات

                                    </a>
                                    @if (CheckPermission.Check(User, "EmployerPayment.AddImage"))
                                    {
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#uploadImageModal"
                                           class="dropdown-item" data-id="@item.Id">
                                            <i
                                                class="fa fa-image"></i>
                                            آپلود تصویر
                                        </a>
                                    }
                                    @if (CheckPermission.Check(User, "EmployerPayment.Delete"))
                                    {
                                        <a asp-area="Admin" asp-controller="EmployerPayment" asp-action="Delete"
                                           asp-route-id="@item.Id"
                                           class="dropdown-item">
                                            <i
                                                class="fa fa-trash"></i>
                                            حذف
                                        </a>
                                    }

                                </div>
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="3"></td>
                    <td>مانده: @((percentAmount - Model.Sum(i => i.Amount)).ToNumeric())</td>
                    <td></td>
                </tr>
            </table>
        }
    </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <h1 class="modal-title fs-5" id="addModalLabel">افزودن</h1>
                <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Create" method="post">
                <div class="modal-body">
                    <input type="hidden" name="ProjectId" value="@projectId">
                    <div class="form-group">
                        <label class="form-label">تاریخ</label>
                        <input type="text" class="form-control date-picker" name="Date">
                    </div>
                    <div class="form-group">
                        <label class="form-label">مبلغ</label>
                        <input type="text" class="form-control numeric" name="Amount">
                    </div>
                    <div class="form-group">
                        <label class="form-label">توضیحات</label>
                        <textarea name="Description" class="form-control"></textarea>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary">ثبت</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="imagesModal" tabindex="-1" aria-labelby="imagesModal" aria-hidden="true">
    <div class="modal-lg modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="imagesModalLabel">تصاویر</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="images-modal-body" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="uploadImageModal" tabindex="-1" aria-labelby="uploadImageModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="uploadImageModalLabel">افزودن تصویر</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="AddImage" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" name="ModelId">
                    <div class="form-group">
                        <label class="form-label" for="File">فایل</label>
                        <input type="file" class="form-control" name="File" id="File" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="DescriptionImage">توضیحات</label>
                        <textarea class="form-control" name="Description" id="DescriptionImage"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary">ثبت</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts

{
    <script>
        let files = @Html.Raw(JsonConvert.SerializeObject(files));
        console.log(files)

        $('#imagesModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget)
            const id = button.data('id')

            let modelFiles = files.filter(i => i.ModelId == id);

            let url = "@url";
            let el = "";
            modelFiles.forEach(item => {
                el += `
                <div class="col-3">
                    <div class="card">
                        <img src="${url + item.SavedName}" class="card-img-top"
                             alt=""/>
                        <div class="card-body">
                            <p class="card-text">${item.Description}</p>
                            <a class="btn btn-danger">حذف</a>
                        </div>

                    </div>
                </div>`
            })
            $("#images-modal-body").html(el)
        })
        $('#uploadImageModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget)
            const id = button.data('id')
            $("[name=ModelId]").val(id);

        })

    </script>
}
