@using System.Text.Json
@using AutoMapper
@using AutoMapper.QueryableExtensions
@using Common.Utilities
@using Data.Contracts
@using Domain
@using Microsoft.EntityFrameworkCore
@using Presentation.DTO
@using Presentation.Helpers
@using Service.Model.Contracts
@model List<Invoice>
@inject IUploadedFileService UploadedFileService
@inject IRepository<Payoff> PayoffRepository;
@inject IMapper Mapper

@{
    ViewBag.Title = "هزینه های پروژه";
    Layout = "_Layout";
    var projects = ViewBag.Projects as List<Project>;
    var projectId = ViewBag.ProjectId as int?;
    var project = ViewBag.Project as Project;
    
    var url = UploadedFileService.GetUrl();
    var files = await UploadedFileService.GetFiles(nameof(Invoice), [], null, default);
    var payoffs = await PayoffRepository.TableNoTracking
        .ProjectTo<PayoffResDto>(Mapper.ConfigurationProvider)
        .ToListAsync();
}

<div class="card">
    <div class="card-body">
        <h3>هزینه های پروژه</h3>

        @if (projects is not null && projects.Any())
        {
            <div class="row gap-2">
                @foreach (var item in projects)
                {
                    <a asp-action="ProjectCosts" asp-route-projectId="@item.Id" class="card"
                       style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@(item.User.FirstName + " " + item.User.LastName)</h6>
                            @* <p class="card-text">@project.</p> *@
                        </div>
                    </a>
                }
            </div>
        }
        else
        {
            
            <table class="table table-hover mt-2">
                <tr>
                    <th>ردیف</th>
                    <th>گروه هزینه</th>
                    <th>بستانکار</th>
                    <th>تاریخ</th>
                    <th>مبلغ</th>
                    <th>نوع</th>
                    <th>نوع پرداخت</th>
                    <th>توضیحات</th>
                    <th>عملیات</th>
                </tr>
                @{
                    var index = 1;
                }
                @foreach (var item in Model)
                {
                    
                    var paid = item.Payoffs?.Sum(i => i.Price) ?? 0;
                    var remain = item.Amount - paid;
                    <tr>
                        <td>@(index++)</td>
                        <td>@item.CostGroup.Title</td>
                        <td>@item.Creditor.FirstName @item.Creditor.LastName</td>
                        <td>@item.Date.ToShamsi()</td>
                        <td>@item.Amount.ToNumeric()</td>
                        <td>@item.Type.ToDisplay()</td>
                        <td></td>
                        <td>@item.Description</td>
                        <td>
                            <div class="dropdown d-inline-block">
                                <a class="nav-link" style="padding: .5rem 1rem"
                                   data-bs-toggle="dropdown"
                                   href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v font-20 text-muted"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dLabel6" x-placement="bottom-start"
                                     style="text-align: right;position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
                                    
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#detailModal"
                                       data-bs-id="@item.Id"
                                       data-bs-cost-group="@item.CostGroup.Title" data-bs-invoice-amount="@item.Amount"
                                       data-bs-creditor="@item.Creditor.FirstName @item.Creditor.LastName"
                                       data-bs-description="@item.Description" data-bs-date="@item.Date.ToShamsi()"
                                       data-bs-payoffs-amount="@paid.ToNumeric()" data-bs-discount="@item.Discount.ToNumeric()"
                                       class="dropdown-item">
                                        <i
                                            class="fa fa-list"></i>
                                        جزئیات
                                    </a>
                                    
                                    @if (CheckPermission.Check(User, "ProjectCost.AddImage"))
                                    {
                                        <a href="#" data-bs-toggle="modal" data-id="@item.Id"
                                           data-bs-target="#addImageModal"
                                           class="dropdown-item" data-bs-invoice-id="@item.Id">
                                            <i
                                                class="fa fa-image"></i>
                                            آپلود تصویر
                                        </a>
                                    }
                                    @if (CheckPermission.Check(User, "ProjectCost.Delete"))
                                    {
                                        <a asp-area="Admin" asp-controller="Invoice" asp-action="Delete"
                                           asp-route-id="@item.Id"
                                           class="dropdown-item">
                                            <i
                                                class="fa fa-trash"></i>
                                            حذف
                                        </a>
                                    }

                                </div>
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="4"></td>
                    <td>مجموع: @Model.Sum(i => i.Amount).ToNumeric()</td>
                    <td colspan="3"></td>
                </tr>

            </table>
        }
    </div>
</div>
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModal" aria-hidden="true">
    <div class="modal-xl modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <h1 class="modal-title fs-5" id="detailModalLabel">جزییات</h1>
                <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row images g-2"></div>

                <table class="table mb-2">
                    <tr>
                        <td>شرح: <span id="description-el"></span></td>
                        <td>گروه هزنیه: <span id="cost-group-el"></span></td>
                        <td>مبلغ فاکتور: <span id="invoice-amount-el"></span></td>
                    </tr>
                    <tr>
                        <td> مبلغ پرداخت شده: <span id="payoffs-amount-el"></span></td>
                        <td>تاریخ ثبت: <span id="date-el"></span></td>
                        <td>نام بستانکار: <span id="creditor-el"></span></td>
                    </tr>
                    <tr>
                        <td colspan="3">مانده فاکتور: <span id="remain-amount-el"></span></td>
                    </tr>
                </table>

                <div>
                    <h4>پراخت ها</h4>
                    <table class="table">
                        <tr>
                            <th>نوع پرداخت</th>
                            <th>شرح</th>
                            <th>تاریخ</th>
                            <th>تاریخ سررسید</th>
                            <th>مبلغ</th>
                            <th>عملیات</th>
                        </tr>
                        <tbody id="payoffs-table">

                        </tbody>

                    </table>
                </div>
                <input type="hidden" class="id" name="Id" value="0">
            </div>
        </div>
    </div>
</div>
<partial name="Components/_AddImageModal"/>
@section Scripts{
    <script>
        let files = @Html.Raw(JsonSerializer.Serialize(files))
        let payoffs = @Html.Raw(JsonSerializer.Serialize(payoffs))
        let url = "@url";
        let hasRemovePermission = false;
    </script>
    <script src="~/js/pages/UnsettledInvoice.js"></script>
}


