@using Domain
@model List<Presentation.DTO.ProjectCostDto>

@{
    ViewBag.Title = "هزینه های پروژه";
    Layout = "_Layout";
    var projects = ViewBag.Projects as List<Project>;
    var projectId = ViewBag.ProjectId as int?;
    var project = ViewBag.Project as Project;
}

<div class="card">
    <div class="card-body">

        @if (projects is not null && projects.Any())
        {
            <div class="row gap-2">
                @foreach (var item in projects)
                {
                    <a asp-action="ProjectCosts" asp-route-projectId="@item.Id" class="card"
                       style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@item.Percent %</h6>
                            @* <p class="card-text">@project.</p> *@
                        </div>
                    </a>
                }
            </div>
        }
        else
        {
            
            <table class="table table-hover mt-2">
                <tr>
                    <th>ردیف</th>
                    <th>گروه هزینه</th>
                    <th>بستانکار</th>
                    <th>تاریخ</th>
                    <th>مبلغ</th>
                    <th>نوع</th>
                    <th>نوع پرداخت</th>
                    <th>توضیحات</th>
                </tr>
                @{
                    var index = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(index++)</td>
                        <td>@item.CostGroupTitle</td>
                        <td>@item.CreditorFullName</td>
                        <td>@item.Date</td>
                        <td>@item.AmountNumeric</td>
                        <td>@item.Type</td>
                        <td>@item.PayType</td>
                        <td>@item.Description</td>
                    </tr>
                }
                <tr>
                    <td colspan="4"></td>
                    <td>مجموع: @Model.Sum(i => i.Amount)</td>
                    <td colspan="3"></td>
                </tr>

            </table>
        }
    </div>
</div>


