@using System.Text.Json
@using AutoMapper
@using AutoMapper.QueryableExtensions
@using Common.Utilities
@using Data.Contracts
@using Domain
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
@using Presentation.DTO
@using Presentation.Helpers
@using Service.Model.Contracts
@model List<Invoice>
@inject IUploadedFileService UploadFileService
@inject IRepository<Payoff> PayoffRepository
@inject IMapper Mapper; 

@{
    ViewBag.Title = "فاکتورهای تسویه نشده";
    Layout = "_Layout";
    var projects = ViewBag.Projects as List<Project>;
    var projectId = ViewBag.ProjectId as int?;
    var url = UploadFileService.GetUrl();
    var files = await UploadFileService.GetFiles(nameof(Invoice), [], null, default);
    var payoffs = await PayoffRepository.TableNoTracking
        .ProjectTo<PayoffResDto>(Mapper.ConfigurationProvider)
        .ToListAsync();
}

<div class="card">
    <div class="card-body">
        <h3>فاکتورهای تسویه نشده</h3>

        @if (projects is not null && projects.Any())
        {
            <div class="row gap-2">
                @foreach (var item in projects)
                {
                    <a asp-action="Index" asp-route-projectId="@item.Id" class="card"
                       style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@(item.User.FirstName + " " + item.User.LastName)</h6>
                            @* <p class="card-text">@project.</p> *@
                        </div>
                    </a>
                }
            </div>
        }
        else
        {
            <table class="table table-hover mt-2">
                <thead>
                <tr>
                    <td>ردیف</td>
                    <td>گروه هزینه</td>
                    <td>بستانکار</td>
                    <td>تاریخ</td>
                    <td>توضیحات</td>
                    <td>تخفیف</td>
                    <td>مبلغ مانده</td>
                    <td>وضعیت</td>
                    <td>عملیات</td>
                </tr>
                </thead>
                <tbody>
                @{
                    var index = 0;
                }
                @foreach (var item in Model)
                {
                    var paid = item.Payoffs?.Sum(i => i.Price) ?? 0;
                    var remain = item.Amount - (item.Discount + paid);
                    <tr>
                        <td>@(++index)</td>
                        <td>@item.CostGroup.Title</td>
                        <td>@item.Creditor.FirstName @item.Creditor.LastName</td>
                        <td>@item.Date.ToShamsi()</td>
                        <td>@item.Description</td>
                        <td>@item.Discount.ToNumeric()</td>
                        <td>@remain.ToNumeric()</td>
                        <td>@item.Status.ToDisplay()</td>
                        <td>

                            <div class="dropdown d-inline-block">
                                <a class="nav-link" style="padding: .5rem 1rem"
                                   data-bs-toggle="dropdown"
                                   href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v font-20 text-muted"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dLabel6" x-placement="bottom-start"
                                     style="text-align: right;position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#detailModal"
                                       data-bs-id="@item.Id"
                                       data-bs-cost-group="@item.CostGroup.Title" data-bs-invoice-amount="@item.Amount"
                                       data-bs-creditor="@item.Creditor.FirstName @item.Creditor.LastName"
                                       data-bs-description="@item.Description" data-bs-date="@item.Date.ToShamsi()"
                                       data-bs-payoffs-amount="@paid.ToNumeric()" data-bs-discount="@item.Discount.ToNumeric()"
                                       class="dropdown-item">
                                        <i
                                            class="fa fa-list"></i>
                                        جزئیات
                                    </a>

                                    @if (CheckPermission.Check(User, "UnsettledInvoice.Delete"))
                                    {
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="UnsettledInvoice" asp-action="Delete" asp-route-id="@item.Id">
                                            <i class="fa fa-trash"></i>
                                            حذف
                                        </a>
                                    }
                                    
                                    @if (CheckPermission.Check(User, "UnsettledInvoice.AddImage"))
                                    {
                                        <a href="#" data-bs-toggle="modal" data-id="@item.Id"
                                           data-bs-target="#addImageModal"
                                           class="dropdown-item" data-bs-invoice-id="@item.Id">
                                            <i
                                                class="fa fa-image"></i>
                                            آپلود تصویر
                                        </a>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }

    </div>
</div>
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModal" aria-hidden="true">
    <div class="modal-xl modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <h1 class="modal-title fs-5" id="detailModalLabel">جزییات</h1>
                <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row images g-2"></div>

                <table class="table mb-2">
                    <tr>
                        <td>شرح: <span id="description-el"></span></td>
                        <td>گروه هزنیه: <span id="cost-group-el"></span></td>
                        <td>مبلغ فاکتور: <span id="invoice-amount-el"></span></td>
                    </tr>
                    <tr>
                        <td> مبلغ پرداخت شده: <span id="payoffs-amount-el"></span></td>
                        <td>تاریخ ثبت: <span id="date-el"></span></td>
                        <td>نام بستانکار: <span id="creditor-el"></span></td>
                    </tr>
                    <tr>
                        <td >مانده فاکتور: <span id="remain-amount-el"></span></td>
                        <td>تخفیف: <span id="discount-el"></span></td>
                        <td></td>
                    </tr>
                </table>

                <div>
                    <h4>پراخت ها</h4>
                    <table class="table">
                        <tr>
                            <th>نوع پرداخت</th>
                            <th>شرح</th>
                            <th>تاریخ</th>
                            <th>تاریخ سررسید</th>
                            <th>مبلغ</th>
                            <th>عملیات</th>
                        </tr>
                        <tr id="addPayoffForm">
                            <td>
                                <input type="hidden" class="id" name="InvoiceId" value="0">
                                <input type="hidden" name="status" value="1">
                                <select name="type" class="select2">
                                    <option value="@PayoffType.Cash">@PayoffType.Cash.ToDisplay()</option>
                                    <option value="@PayoffType.Check">@PayoffType.Check.ToDisplay()</option>
                                    <option
                                        value="@PayoffType.EmployerPayment">@PayoffType.EmployerPayment.ToDisplay()</option>
                                </select>
                            </td>
                            <td><input type="text" class="form-control" name="description"></td>
                            <td><input type="text" class="form-control date-picker" name="date"></td>
                            <td><input type="text" class="form-control date-picker" name="dueDate"></td>
                            <td><input type="text" class="form-control numeric" name="price"></td>
                            <td>
                                @if (CheckPermission.Check(User, "UnsettledInvoice.AddPayoff"))
                                {
                                    <button type="button" id="addPayoff" class="btn btn-primary">ثبت</button>
                                }
                            </td>
                        </tr>
                        <tbody id="payoffs-table">

                        </tbody>

                    </table>
                </div>
                <input type="hidden" class="id" name="Id" value="0">
                <div class="mt-3">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="discount" class="form-label">تخفیف</label>
                                <input type="text" class="form-control numeric" id="discount" name="discount">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="isDone" class="form-check-label">تسویه شده</label>
                                <input type="checkbox" class="form-check-input" id="isDone" name="isDone"
                                       value="true">
                            </div>
                        </div>
                        <div class="col-md-1 text-left">
                            @if (CheckPermission.Check(User, "UnsettledInvoice.Edit"))
                            {
                                <button type="button" class="btn btn-primary update-invoice">ثبت</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="Components/_AddImageModal"/>
@section Scripts{
    <script>
        let files = @Html.Raw(JsonSerializer.Serialize(files))
        console.log(files)
        let payoffs = @Html.Raw(JsonSerializer.Serialize(payoffs))
        let url = "@url";
        let hasRemovePermission = @(CheckPermission.Check(User, "UnsettledInvoice.DeletePayoff").ToString().ToLower());
    </script>
    <script src="~/js/pages/UnsettledInvoice.js"></script>
}
