@using Common.Utilities
@using DocumentFormat.OpenXml.Wordprocessing
@using Domain
@using Presentation.Helpers
@using Service.Model.Contracts
@model Invoice
@inject IUploadedFileService UploadedFileService

@{
    ViewBag.Title = "جزئیات فعالیت";
    Layout = "_Layout";
    var images = await UploadedFileService.GetFiles(nameof(Invoice), [Model.Id], null, default);
}


<div class="card">
    <div class="card-body">
        <h2>جزئیات فعالیت</h2>

        <div class="d-flex justify-content-start mt-3">
            @if (CheckPermission.Check(User, "Activity.AddDetail"))
            {
                <button data-bs-toggle="modal" data-bs-target="#addPayoffModal"
                        data-invoice-id="@Model.Id" type="button"
                        class="btn btn-primary me-2">پراخت علی الحساب
                </button>
            }
            @if (CheckPermission.Check(User, "Activity.AddImage"))
            {
                <button data-bs-toggle="modal" data-bs-target="#addImageModal" data-id="@Model.Id" type="button"
                        class="btn btn-primary me-2">افزودن
                    تصویر
                </button>
            }
            @if (CheckPermission.Check(User, "Activity.SetTotalAmount"))
            {
                <button data-bs-toggle="modal" data-bs-target="#setTotalAmountModal" type="button"
                        class="btn btn-primary me-2">ثبت مبلغ فاکتور
                </button>
            }
            @if (CheckPermission.Check(User, "Activity.Done"))
            {
                <button type="button" data-id="@Model.Id" data-type="@(InvoiceType.Unverified)"
                        class="changeType btn btn-primary"> اتمام فعالیت و ارسال به فاکتور تایید نشده
                </button>
            }
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">

            @foreach (var image in images)
            {
                <div class="col">
                    <div class="card">
                        <img src="@UploadedFileService.GetFilePath(image, default)" class="card-img-top"
                             alt="@image.Type.ToString()"
                             style="cursor: pointer"
                             onclick="showImageModal('@UploadedFileService.GetFilePath(image, default)')" />
                        <div class="card-body">
                            <h5>@image.Type.ToDisplay()</h5>
                            <p class="card-text">@image.Description</p>
                            @* <a asp-action="RemoveImage" asp-route-id="@image.Id" class="btn btn-danger">حذف</a> *@
                        </div>

                    </div>
                </div>
            }
        </div>
        <table class="table table-hover mt-2">
            <tr>
                <th>نوع</th>
                <th>تاریخ</th>
                <th>مبلغ</th>
                <th>شرح</th>
                <th>عملیات</th>
            </tr>
            @if (Model.Payoffs is not null)
            {
                @foreach (var item in Model.Payoffs)
                {
                    <tr>
                        <td>@item.Type.ToDisplay()</td>
                        <td>@item.Date.ToShamsi()</td>
                        <td>@item.Price.ToNumeric()</td>
                        <td>@item.Description</td>
                        <td>
                            @if (item.Status == PayoffStatus.Pending && CheckPermission.Check(User, "Activity.ApprovedDetail"))
                            {
                                <a asp-controller="Activity" asp-action="ApprovePayoff" asp-route-id="@item.Id"
                                   class="btn btn-primary">تایید</a>
                            }
                            else
                            {
                                <span>تایید شده</span>
                            }
                        </td>
                    </tr>
                }

                <tfoot>
                @{
                    var totalPrice = Model.Payoffs.Sum(i => i.Price);
                }
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2">جمع پرداختی: @totalPrice.ToNumeric()</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2">مبلغ کل فاکتور: @Model.Amount.ToNumeric()</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2">مانده نهایی: @((Model.Amount - totalPrice).ToNumeric()) </td>
                </tr>
                </tfoot>
            }
        </table>
    </div>
</div>

<div class="modal fade" id="setTotalAmountModal" tabindex="-1" aria-labelledby="setTotalAmountModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <h1 class="modal-title fs-5" id="setTotalAmountModalLabel">ثبت مبلغ فاکتور</h1>
                <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="SetTotalAmount" asp-route-id="@Model.Id" method="post">
                <input type="hidden" name="Id" value="@Model.Id">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-label" for="totalAmount">مبلغ کل فاکتور</label>
                        <input type="text" class="form-control numeric" name="totalAmount" id="totalAmount"
                               value="@Model.Amount" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary">ثبت</button>
                </div>
            </form>
        </div>
    </div>
</div>
<partial name="Components/_AddInvoiceDetailModal"/>
<partial name="Components/_AddPayoffModal"/>
<partial name="Components/_AddImageModal"/>
