@using Domain
@model List<Presentation.DTO.ActivityResDto>

@{
    ViewBag.Title = "لیست فعالیت ها";
    Layout = "_Layout";
    var projects = ViewBag.Projects as List<Project>;
}


<div class="card">
    <div class="card-body">
        @if (projects is not null && projects.Any())
        {
            <div class="row gap-2">
                @foreach (var project in projects)
                {
                    <a asp-action="Index" asp-route-projectId="@project.Id" class="card"
                       style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@project.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@project.Percent %</h6>
                            @* <p class="card-text">@project.</p> *@
                        </div>
                    </a>
                }
            </div>
        }
        else
        {
            <div class="d-flex justify-content-between">
                <button data-bs-toggle="modal" data-bs-target="#addModal" type="button" class="btn btn-primary">افزودن
                </button>
            </div>
            <table class="table table-hover mt-2">
                <tr>
                    <th>پروژه</th>
                    <th>گروه هزینه</th>
                    <th>بستانکار</th>
                    <th>توضیحات</th>
                    <th>علی الحساب</th>
                    <th>عملیات</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProjectTitle</td>
                        <td>@item.CostGroupTitle</td>
                        <td>@item.CreditorFullName</td>
                        <td>@item.OnAccount</td>
                        <td>test</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>