@using Common.Utilities
@using Data.Contracts
@using Domain
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Presentation.Helpers
@model List<Invoice>
@inject IRepository<CostGroup> CostGroupRepository;
@inject IRepository<Creditor> CreditorRepository;

@{
    ViewBag.Title = "لیست فعالیت ها";
    Layout = "_Layout";
    var projects = ViewBag.Projects as List<Project>;
    var project = ViewBag.Project as Project;
    var projectId = 0;
    if (project is not null)
        projectId = project.Id;
    var costGroups = await CostGroupRepository.GetSelectListItems();
    var creditors = await CreditorRepository.GetSelectListItems("LastName");
}


<div class="card">
    <div class="card-body">
        <h3>فعالیت های در حال انجام</h3>
        @if (projects is not null && projects.Any())
        {
            <div class="row gap-2">
                @foreach (var item in projects)
                {
                    <a asp-action="Index" asp-route-projectId="@item.Id" class="card"
                       style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@item.User.GetFullName()</h6>
                            @* <p class="card-text">@project.</p> *@
                        </div>
                    </a>
                }
            </div>
        }
        else
        {
            @if (CheckPermission.Check(User, "Activity.Create"))
            {
                <div class="d-flex justify-content-between">
                    <button data-bs-toggle="modal" data-bs-target="#addInvoiceModal" data-project-id="@projectId"
                            data-type="@InvoiceType.Activity" type="button" class="btn btn-primary">
                        افزودن
                    </button>
                </div>
            }

            <table class="table table-hover mt-2">
                <tr>
                    <th>گروه هزینه</th>
                    <th>بستانکار</th>
                    <th>توضیحات</th>
                    <th>علی الحساب</th>
                    <th>تاریخ</th>
                    <th>عملیات</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CostGroup.Title</td>
                        <td>@item.Creditor.GetFullName()</td>
                        <td>@item.Description</td>
                        <td>@item.InvoiceDetails.Sum(i => i.Price).ToNumeric()</td>
                        <td>@item.Date.ToShamsi()</td>
                        <td>
                            <div class="dropdown d-inline-block">
                                <a class="nav-link" style="padding: .5rem 1rem"
                                   data-bs-toggle="dropdown"
                                   href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v font-20 text-muted"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dLabel6" x-placement="bottom-start"
                                     style="text-align: right;position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
                                    @if (CheckPermission.Check(User, "Activity.Update"))
                                    {
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#updateInvoiceModal"
                                           data-id="@item.Id" class="dropdown-item">
                                            <i
                                                class="fa fa-pencil"></i>
                                            ویرایش
                                        </a>
                                    }

                                    @if (CheckPermission.Check(User, "Activity.Details"))
                                    {
                                        <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">
                                            <i
                                                class="fa fa-list"></i>
                                            جزئیات
                                        </a>
                                    }
                                    @if (CheckPermission.Check(User, "Activity.Delete"))
                                    {
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Activity" asp-action="Delete" asp-route-id="@item.Id">
                                            <i class="fa fa-trash"></i>
                                            حذف
                                        </a>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>
<partial name="Components/_AddInvoiceModal"/>

