@using Domain
@using Presentation.Helpers
@model Domain.Project

@{
    ViewBag.Title = "جزئیات پروژه";
    Layout = "_Layout";
    var projects = ViewBag.Projects as List<Project>;
}


<div class="card">
    <div class="card-body">
        @if (projects is not null && projects.Any())
        {
            <div class="row gap-2">
                @foreach (var project in projects)
                {
                    <a asp-action="EstimateDetails" asp-route-projectId="@project.Id" class="card"
                       style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@project.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@project.Percent %</h6>
                            @* <p class="card-text">@project.</p> *@
                        </div>
                    </a>
                }
            </div>
        }
        else
        {
            <h3>جزئیات تخمین شده : @Model.Title</h3>
            <div class="d-flex justify-content-between mt-3">
                @if (CheckPermission.Check(User, "Project.AddEstimateDetail"))
                {
                    <a asp-action="AddEstimateDetail" asp-route-id="@Model.Id" asp-area="Admin" class="btn btn-primary">افزودن</a>
                }
            </div>
            <table class="table table-hover mt-2">
                <tr>
                    <th>عنوان</th>
                    <th>مقدار</th>
                    <th>فی</th>
                    <th>قیمت کل</th>
                </tr>
                @foreach (var item in Model.Details.Where(i => i.Type == ProjectDetailType.Estimate))
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Area</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.TotalPrice</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>