@using Domain
@using Presentation.Helpers
@model List<Presentation.DTO.ProjectResDto>

@{
    ViewData["Title"] = "لیست پروژه ها";
    Layout = "_Layout";
}
<h3>لیست پروژه ها</h3>
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            @if (CheckPermission.Check(User, "Project.Create"))
            {
                <a asp-action="Create" asp-area="Admin" class="btn btn-primary">افزودن</a>
            }
        </div>
        <table class="table table-hover mt-2">
            <thead>
            <tr>
                <td>عنوان</td>
                <td>کارفرما</td>
                <td>درصد</td>
                <td>تاریخ</td>
                <td>عملیات</td>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.UserFullName</td>
                    <td>@item.Percent</td>
                    <td>@item.Date</td>
                    <td>

                        <div class="dropdown d-inline-block">
                            <a class="nav-link" style="padding: .5rem 1rem"
                               data-bs-toggle="dropdown"
                               href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="fa fa-ellipsis-v font-20 text-muted"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dLabel6" x-placement="bottom-start"
                                 style="text-align: right;position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
                                @if (CheckPermission.Check(User, "Project.Edit"))
                                {
                                    <a asp-area="Admin" asp-action="Edit" asp-route-id="@item.Id"
                                       class="dropdown-item">
                                        <i
                                            class="fa fa-pencil"></i>
                                        ویرایش
                                    </a>
                                    @if (CheckPermission.Check(User, "Project.Delete"))
                                    {
                                        <a asp-area="Admin" asp-controller="Project" asp-action="Delete"
                                           asp-route-id="@item.Id"
                                           class="dropdown-item">
                                            <i
                                                class="fa fa-trash"></i>
                                            حذف
                                        </a>
                                    }
                                }
                            </div>
                        </div>

                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>