@using Common.Utilities
@{
	var userFullName = User.Identity?.GetFullName();
}
<!DOCTYPE html>
<html lang="fa">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="~/css/icons.css"/>
	@* <link rel="stylesheet" href="~/css/metisMenu.min.css"/> *@
	<link rel="stylesheet" href="~/css/font.css"/>
	<link rel="stylesheet" href="~/plugins/select2/select2.min.css"/>
	<link rel="stylesheet" href="~/css/persian-datepicker.css"/>
	@* <link rel="stylesheet" href="~/css/style.min.css"/> *@
	<link rel="stylesheet" href="~/css/site.css"/>
	<link rel="stylesheet" href="~/plugins/font-awesome-4/css/font-awesome.css"/>
	<link rel="stylesheet" href="~/css/responsive.css" />
	@await RenderSectionAsync("Styles", required: false)
	<style>
		body {
			background-color: #f8f9fa;
		}

		.text-gold {
			color: #d19c30;
		}

		.bg-gold {
			background-color: #d19c30;
		}

		.rotate-180 {
			transform: rotate(180deg);
		}

		.transition-all {
			transition: all 0.3s ease;
		}

		.bg-sidebar {
			background-color: #293b63 !important;
		}

		.bg-header {
			background-color: #293b63 !important;
		}

		.sidebar {
			width: 260px;
			height: 100vh;
			overflow: auto;
		}

		.sidebar.collapsed {
			width: 80px;
		}

		.sidebar .menu-text,
		.sidebar .submenu {
			transition: opacity 0.3s ease;
		}

		.sidebar.collapsed .menu-text,
		.sidebar.collapsed .submenu {
			display: none !important;
		}

		.menu-item {
			cursor: pointer;
			padding: 0.75rem 1rem;
			transition: all 0.3s ease;
		}

		.menu-item:hover {
			background-color: #f1f1f1;
		}

		.menu-item:hover i,
		.menu-item:hover span {
			color: #fff !important;
		}

		.submenu a {
			display: block;
			padding: 0.4rem 1.5rem;
			color: #fff;
			text-decoration: none;
			font-size: 0.9rem;
		}

		.submenu a:hover {
			/*background-color: #1f2e4c;*/
			color: #000 !important;
		}

		.dropdown:hover .dropdown-menu {
			display: block;
		}

		.dropdown-menu {
			right: 0;
			left: auto;
		}

		.sidebar {
			width: 260px;
			min-height: 100vh;
		}

		.sidebar.collapsed {
			width: 80px;
		}

		.sidebar .menu-text,
		.sidebar .submenu {
			transition: opacity 0.3s ease;
		}

		.sidebar.collapsed .menu-text,
		.sidebar.collapsed .submenu {
			display: none !important;
		}

		.menu-item {
			cursor: pointer;
			padding: 0.75rem 1rem;
			transition: all 0.3s ease;
		}

		.menu-item:hover {
			background-color: #f1f1f1;
		}

		.menu-item:hover i,
		.menu-item:hover span {
			color: #000 !important;
		}

		.submenu a {
			display: block;
			padding: 0.4rem 1.5rem;
			color: #fff;
			text-decoration: none;
			font-size: 0.9rem;
		}

		.submenu a:hover {
			/*background-color: #1f2e4c;*/
			color: #000 !important;
		}

		.dropdown:hover .dropdown-menu {
			display: block;
		}

		.dropdown-menu {
			right: 0;
			left: auto;
		}

	</style>
</head>

<body>
<div class="d-flex h-100">
	<!-- Sidebar -->
	<partial name="_Menu"/>
	<!-- Main Content -->
	<div id="main-content" class="flex-grow-1">
		<main class="flex-grow-1 d-flex flex-column">
			<!-- Header -->
				<header class="bg-header text-white d-flex justify-between align-items-center px-4" style="height: 64px; direction: ltr">
					<!-- دکمه نمایش/مخفی کردن منو در موبایل -->
					<button id="menuToggleBtn1" class="menu-toggle d-md-none btn btn-outline-light me-2">
						<i class="fas fa-bars"></i>
					</button>

					<div class="dropdown ms-auto">
						<div class="d-flex align-items-center gap-2 dropdown-toggle" role="button" data-bs-toggle="dropdown">
							<span>@User.Identity.GetUserName()</span>
							<i class="fas fa-user-circle fs-4"></i>
						</div>
						<ul class="dropdown-menu dropdown-menu-end text-start" style="direction: rtl; right: -50px">
							<li>
								<a class="dropdown-item text-danger" asp-area="" asp-controller="Account" asp-action="Logout">
									<i class="fas fa-sign-out-alt ms-2"></i>خروج
								</a>
							</li>
						</ul>
					</div>


				</header>
	

			<section class="p-4">
				@RenderBody()
			</section>
		</main>
	</div>
</div>
<div id="imageModal" class="modal fade" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content bg-dark">
			<div class="modal-body text-center p-0">
				<img id="modalImage" src="" class="img-fluid rounded" alt="نمایش تصویر"/>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="changeStatusModal" tabindex="-1" aria-labelby="changeStatusModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="changeStatusModalLabel">تغییر وضعیت</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
				<div class="modal-body change-status-modal-body">
					<input type="hidden" name="Id">
					<input type="hidden" name="Status">
					<div class="form-group">
						<label class="form-label" for="DescriptionImage">توضیحات</label>
						<textarea class="form-control" name="Description" id="DescriptionImage"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
					<button type="button" id="changeStatusBtn" class="btn btn-primary">ثبت</button>
				</div>
		</div>
	</div>
</div>
<script>
	let datePickerConfigs = {
		"inline": false,
		"format": "HH:mm YYYY/MM/DD",
		"viewMode": "day",
		"initialValue": true,
		"minDate": null,
		"maxDate": null,
		"autoClose": true,
		"position": "auto",
		"altFormat": "l",
		"altField": "#altfieldExample",
		"onlyTimePicker": false,
		"onlySelectOnDate": true,
		"calendarType": "persian",
		"inputDelay": 800,
		"observer": false,
		"calendar": {
			"persian": {
				"locale": "fa",
				"showHint": false,
				"leapYearMode": "astronomical"
			},
			"gregorian": {
				"locale": "en",
				"showHint": false
			}
		},
		"navigator": {
			"enabled": true,
			"scroll": {
				"enabled": true
			},
			"text": {
				"btnNextText": ">",
				"btnPrevText": "<"
			}
		},
		"toolbox": {
			"enabled": false,
			"calendarSwitch": {
				"enabled": true,
				"format": "MMMM"
			},
			"todayButton": {
				"enabled": true,
				"text": {
					"fa": "امروز",
					"en": "Today"
				}
			},
			"submitButton": {
				"enabled": true,
				"text": {
					"fa": "تایید",
					"en": "Submit"
				}
			},
			"text": {
				"btnToday": "امروز"
			}
		},
		"timePicker": {
			"enabled": true,
			"step": 1,
			"hour": {
				"enabled": true,
				"step": null
			},
			"minute": {
				"enabled": true,
				"step": null
			},
			"second": {
				"enabled": false,
				"step": null
			},
			"meridian": {
				"enabled": false
			}
		},
		"dayPicker": {
			"enabled": true,
			"titleFormat": "YYYY MMMM"
		},
		"monthPicker": {
			"enabled": true,
			"titleFormat": "YYYY"
		},
		"yearPicker": {
			"enabled": true,
			"titleFormat": "YYYY"
		},
		"responsive": false
	}
</script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/persian-datepicker/persian-date.js"></script>
<script src="~/js/persian-datepicker/persian-datepicker.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/waves.min.js"></script>
<script src="~/js/jquery.slimscroll.min.js"></script>
<script src="~/plugins/select2/select2.min.js"></script>
<script src="~/js/app.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/datepickerconfig.js"></script>
<script src="~/js/jquery.repeater.min.js"></script>
<script src="~/js/sweetalert2.js"></script>



@await RenderSectionAsync("Scripts", required: false)

<script>
	@if (TempData["ErrorMessage"] != null)
	{
		<text>
			Swal.fire({
				icon: 'error',
				title: 'خطا',
				text: '@Html.Raw(TempData["ErrorMessage"])'
			});
		</text>
	}
	else if (TempData["SuccessMessage"] != null)
	{
		<text>
			Swal.fire({
				icon: 'success',
				title: 'موفقیت',
				text: '@Html.Raw(TempData["SuccessMessage"])'
			});
		</text>
	}
</script>
<script>

	$(".select2").select2({
		width: "100%"
	})

	function formatNumericInput(input) {
		let cursorPosition = input.selectionStart;

		let rawValue = input.value.replace(/,/g, '').replace(/[^\d]/g, '');

		if (rawValue === '') {
			input.value = '';
			return;
		}

		let formatted = Number(rawValue).toLocaleString('en-US');
		input.value = formatted;

		// تنظیم مکان‌نما
		let diff = formatted.length - rawValue.length;
		input.setSelectionRange(cursorPosition + diff, cursorPosition + diff);
	}

	$(".numeric").on("input", function () {
		formatNumericInput(this);
	});

	// ✅ اجرای فرمت روی مقدارهای اولیه
	$(".numeric").each(function () {
		formatNumericInput(this);
	});


	$(document).ready(function () {
		$('.repeater-default').repeater({
			show: function () {
				$(this).slideDown();

			},
			hide: function (deleteElement) {
				$(this).slideUp(deleteElement);
			},

		});
	})


</script>
<script src="~/js/components/app.js"></script>
<script src="~/js/components/addInvoiceDetailModal.js"></script>
<script src="~/js/components/addInvoiceModal.js"></script>
<script src="~/js/components/addImageModal.js"></script>
</body>
</html>